<!-- Comentarios -->
<!-- Se tiene que hacer un div.row -->
<style>
    .borde{
        border:solid 1px;
        background:#CCC;
    }
</style>
<div class="row">
    <!-- div.col -->
    <div class="col-12 borde">
        Hola ocupo 12 elementos
    </div>
    <div class="col-1 col-sm-6 col-md-1 col-xl-9 mt-3 borde">
        elemento con contenido variable
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 borde">Elemento 1</div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 borde">Elemento 2</div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 borde">Elemento 3</div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 borde">Elemento 4</div>
</div>