<div class="row">
    <div class="col-md-4">
        <form asp-action="Agregar" method="post">
            <!-- Todos los elementos (cajas de texto, listas, etc) -->
            <!-- deben estar dentro de form -->
            <!-- Aquí empieza la sección del control -->
            <div class="form-group">
                <label>ID</label>
                <!-- required vuelve obligatorio el campo -->
                <!-- autofocus le da el foco de forma automática
                    al elemento indicado 
                    (solo puede existir un autofocus)                -->
                <input type="number" required autofocus
                    name="ID" class="form-control" />
            </div>
            <!-- Aqui termina la sección de control -->
            <div class="form-group">
                <label>Descripción</label>
                <!-- Textarea es un control de texto, para 
                    multiples lineas -->
                <textarea name="Descripcion" required
                class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Estado</label>
                <select required name="Estado" class="form-control">
                    <option value="">Selecciona una opción</option>
                    <option value="1">Activo</option>
                    <option value="2">Completo</option>
                    <option value="3">Cancelado</option>
                </select>
            </div>
            <input type="submit" value="Agregar" class="btn btn-outline-secondary" />
            <a asp-action="Index" class="btn btn-link">Cancelar</a>
        </form>
    </div>
</div>